/* ==========================================================================
   Variables
   ========================================================================== */

/*
   Typography
   ========================================================================== */

$doc-font-size              : 14;

/* paragraph indention */
$paragraph-indent           : false; // true, false (default)
$indent-var                 : 0.5em;

/* system typefaces */
$serif                      : Georgia, Times, serif;
$sans-serif                 : -apple-system, system-ui, "SF Pro Text", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
// $sans-serif                 : Georgia, serif, sans-serif;

// $sans-serif                 : -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
$monospace                  : Monaco, Consolas, "Lucida Console", monospace;

/* sans serif typefaces */
$sans-serif-narrow          : "Times New Roman", Times, serif;
$helvetica                  : Helvetica, "Helvetica Neue", Arial, sans-serif;

/* serif typefaces */
$georgia                    : Georgia, serif;
$times                      : Times, serif;
$bodoni                     : "Bodoni MT", serif;
$calisto                    : "Calisto MT", serif;
$garamond                   : Garamond, serif;

$global-font-family         : "Times New Roman", Times, serif;
$header-font-family         : "Times New Roman", Times, serif;
$caption-font-family        : "Times New Roman", Times, serif;

/* type scale */
$type-size-1                : 2.441em;  // ~39.056px
$type-size-2                : 1.953em;  // ~31.248px
$type-size-3                : 1.4em;  // ~25.008px
$type-size-4                : 1.2em;   // ~20px
$type-size-5                : 1em;      // ~16px
$type-size-6                : 1em;   // ~12px
$type-size-7                : 0.6875em; // ~11px
$type-size-8                : 0.625em;  // ~10px


/*
   Colors
   ========================================================================== */

$gray                       : #181818;
$dark-gray                  : #181818;
$darker-gray                : #181818;
$light-gray                 : #ffffff;
$lighter-gray               : #ffffff;

$body-color                 : #ffffff;
$background-color           : #ffffff;
$code-background-color      : $body-color;
$code-background-color-dark : $background-color;
$text-color                 : #181818;
$border-color               : rgba($text-color, 0.14);

$primary-color              : #5f665a;
$success-color              : $primary-color;
$warning-color              : $text-color;
$danger-color               : $text-color;
$info-color                 : #181818;

/* brands */
$behance-color              : $text-color;
$dribbble-color             : $text-color;
$facebook-color             : $text-color;
$flickr-color               : $text-color;
$foursquare-color           : $text-color;
$github-color               : $text-color;
$google-plus-color          : $text-color;
$instagram-color            : $text-color;
$lastfm-color               : $text-color;
$linkedin-color             : $text-color;
$pinterest-color            : $text-color;
$rss-color                  : $text-color;
$soundcloud-color           : $text-color;
$stackoverflow-color        : $text-color;
$tumblr-color               : $text-color;
$twitter-color              : $text-color;
$vimeo-color                : $text-color;
$vine-color                 : $text-color;
$youtube-color              : $text-color;
$xing-color                 : $text-color;


/* links */
$link-color                 : $text-color;
$link-color-hover           : $text-color;
$link-color-visited         : $text-color;
$masthead-link-color        : $text-color;
$masthead-link-color-hover  : $text-color;


/*
   Breakpoints
   ========================================================================== */

@include breakpoint-set("to ems", true);
/*
$small                      : 400px;
$medium                     : 500px;
$medium-wide                : 550px;
$large                      : 1200px;
$x-large                    : 1800px;
*/

$small                      : 600px !default;
$medium                     : 768px !default;
$medium-wide                : 900px !default;
$large                      : 900px !default;
$x-large                    : 1160px !default;

/*
   Grid
   ========================================================================== */

$right-sidebar-width-narrow : 0px;
$right-sidebar-width        : 0px;
$right-sidebar-width-wide   : 0px;

$susy: (
  columns: 12,
  column-width: 120px,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: after,
  container: $large,
  global-box-sizing: border-box,
);


/*
   Other
   ========================================================================== */

$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$navicon-width              : 28px;
$navicon-height             : 4px;
$global-transition          : all 0.2s ease-in-out;
